*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 60%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 45px;
}
.orange{
    color: #FD6E0A;
}
.right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.right a{
    font-size: 20px;
    color: #474747;
}
.btn{
    padding: 18px 30px;
    background-color: #FD6E0A;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}