*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(./images/developer.png), url(./images/hbg.png), #FFF8F3;
    background-position:top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 60%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 45px;
}
.orange{
    color: #FD6E0A;
}
.right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.right a{
    font-size: 20px;
    color: #474747;
}
.btn{
    padding: 18px 30px;
    background-color: #FD6E0A;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#banner{
    
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-item{
    max-width: 580px;
}
#banner .banner-item h3{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-item h1{
    color: black;
    font-size: 80px;
    margin-bottom: 20px;
}
#banner .banner-item p{
    color: #BABABA;
    font-size: 18px;
    margin-bottom: 20px;
}
#banner .banner-img img{
    max-width: 595px;
}
#about{
    padding-top: 130px; 
}
#about .about-info{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-info h3{
    color: #181818;
    font-size: 35px;
    padding-bottom: 30px;
}
#about .about-info p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
}
#about .about-info .info{
    display: flex;
    justify-content: space-between;
}
.what{
    padding-top: 160px;
    text-align: center;
}
.what h3{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.what p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    max-width: 800px;
    margin: 0 auto;
}
#skills{
    padding-top: 50px;
    /* padding-left: 230px; */
    display: flex;
    gap: 24px;
    justify-content: center;
}
#skills .js{
    width: 267px;
    background-color: #FFF8F3;
    border-radius: 5px;
    padding: 20px;
}
#skills .js h4{
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}
#skills .js p{
    font-size: 16px;
    color: #757575;
    line-height: 26px;
    margin-top: 10px;
}
#sum h4{
    font-size: 25px;
 }
#sum h5{
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 6px;
 }

        
#sum h2{
    text-align: center;
    font-size: 35px;
    padding-top: 130px;
    padding-bottom: 100px;
}
#sum .edu h3{
    font-size: 30px;
    padding-bottom: 20px;
}
#sum .flex{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    gap: 70px;
}
#sum .box{
    width: 500px;
    
}
.cv-btn{
   text-align: center;
   padding-top: 50px;
   padding-bottom: 100px;
}
#footer{
    max-width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #FFF8F3;
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: start;
}
#footer .ftl h3{
    font-size: 25px;
}
#footer .ftl p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 15px;
}